@import "tailwindcss";

.container { max-width: 1100px; margin-left: auto; margin-right: auto; }

body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; background: #f7fafc; color: #111827; }
.container { max-width: 1100px; margin: 0 auto; padding: 1rem; }

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}

:root {
  --color-primary: #your-color-here;
  --color-primary-content: #your-other-color-here;
}

/* tailwind intersect */
@import 'tailwindcss-intersect';

/* tailwind motion */
@plugin "tailwindcss-motion";

/* Flatpickr */
@import 'flyonui/src/vendor/flatpickr.css';
